<div class="wrapper flex">
<!-- Side bar  -->
<div class="sidebar w-80 p-4 bg-slate-100 h-screen flex flex-col gap-4">
   <!-- Branding -->
  <div class="branding flex items-center">
          <span
            class="text-2xl text-custom-blue-500 font-bold uppercase tracking-widest"
            >Strive</span
          >
        </div>
</div>
</div>

{{> createActivity}}
<button><a href="/createActivity">Add Activity</a></button>
<br />
Posts:
{{#each posts}}
    <li>
        {{ title }}
        {{ time }} kilometers
        {{ duration }} minutes
        {{ elevation }} feet
        {{ description }}
        
    </li>
  {{/each}}
<br />
<button><a href="/login">Logout</a></button>
